<div style="justify-content: center; color: white">
    <h1>About</h1>
    <br/>
    <p>Hi! 👋
        <br/>
        <br/>
        This is Naimul. Currenlty a junior studying computer science.

        <br/>
        <br/>

        This app, Shared, is a proof of concept of a text based sharing app to friends or everyone all over the world.
        <br/>
        The app currently uses custom CSS and JS to animate all the stuff since bootstrap wasnt being nice with me.

        <br/>
        <br/>
        Future Features:
        <ul>
            
            <li>Private replies</li>
            <li>Public replies</li>
            <li>Reactions</li>
            <li>Picture support</li>
            <li>Geo location tag</li>
        </ul>
        <br/>
        <br/>

        Thats about it! I hope you enjoy using the app keep SHARE-ing 🤭🤗
        
    </p>

</div>
